@import "colors";
footer{
    width: 100%;
    background-color: $first;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    >.div1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        >div{
            h1{
                text-transform: uppercase;
                color: $third;
            }
            p{
                font: 600 1rem $text1;
            }
        }
    }
    >.div2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem 4rem;
        h1{
            font-weight: 300;
            margin: 1rem 0;
        }
        a{
            color: $dark;
            font: 600 1rem $text2;
            &:hover{
                color: $third;
            }
        }
    }
}